@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Figtree";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/static/Figtree-SemiBold.ttf) format("truetype");
  }

  @font-face {
    font-family: "Figtree";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local(Figtree),
      url(/assets/fonts/static/Figtree-ExtraBold.ttf) format("truetype");
  }
}
